NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_RPC_OP_SEPOLIA="Op Sepolia with debug endpoint support"
NEXT_PUBLIC_RPC_OP_MAIN="Op Mainnet with debug endpoint support"
NEXT_PUBLIC_RPC_ARBITRUM_SEPOLIA="Arbitrum Sepolia with debug endpoint support"
NEXT_PUBLIC_RPC_ARBITRUM_ONE="Arbitrum One with debug endpoint support"
NEXT_PUBLIC_RPC_POWERLOOM_DEVNET="https://rpc-devnet.powerloom.dev"  #"Powerloom with debug support"
NEXT_PUBLIC_EXPLORER_API_POWERLOOM_DEVNET="https://explorer-prost1j-emrlsr8nrc.t.conduit.xyz"
NEXT_PUBLIC_CHAINS=OP_MAIN,OP_SEPOLIA,POWERLOOM_DEVNET

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/db"

# Better Auth
BETTER_AUTH_SECRET="your-secret-key-here"
BETTER_AUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID="your-github-client-id"
GITHUB_CLIENT_SECRET="your-github-client-secret"


# CoinMarketCap API (for token pricing)
COINMARKETCAP_API_KEY="your-coinmarketcap-api-key"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
